/* DM Sans Font Family */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Import tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset browser default styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root{
  --text-color: #F9FAFB;
}

body{
  background-color: #040711;
}

main{
  background-image: url(../assets/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}